.fondo{
  background:url("../image/fondo-3.jpg") no-repeat;
  min-height: 100vh;
   background-size: cover;
  /*background-attachment: fixed;
  opacity: 0.7; */
  color:#ffff;
    }

.fond{
    /* background-color:#D0F1FB;   */
    background-color: #F9FCFD;
    color: #000000;
    }

.button{
 background-color: #1DABF2;
 color:#000000;
   }    

#perfil{
padding-top: 100px;
}   

.lema{
    color: blue,
}

/* *{
    font-family:"Roboto"; 
    }

.hiden{
display:none;
}

.fondo{
background-color: #F9FCFD;
min-height: 100vh;
background-size: cover;
background-attachment: fixed;
color:#ffff;
}

#img-portada{
position: absolute;
/* margin-left: 200px; 

} */

/* .fond{
background-color:#D0F1FB;  */

/* background-color: #F9FCFD; 
}*/

/* #img-logo{
    
    margin-left: 120px;
} */
/* 
.button{
    background-color: #1DABF2;
    color:#ffff;
    
} */

/* .buttonI{
    background-color: #1DABF2; 
    color:#ffff; 
    margin-left: 60px;
    width: 125px;
}

.buttonG{
    background-color: #1DABF2;
    margin-left: 100px;
  
}
.buttonRg{
    background-color: #1DABF2;  
    margin-left: 190px;
    width: 150px;
} */

/* body {
    background-color: #333;
    color: #fff;
  } */
  
  /* .navbar {
    border-bottom: #1DABF2 3px solid;
    opacity: .7;
  } */
  
  /* #home-section {
    background: url('./img/bg.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .dark-overlay {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
  } */
  
  /* #perfil{
    padding-top: 100px;
  } */

  /* @media (max-width: 992px) {
    .principal {
      padding-top: 150px;
    }
  } */